html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 231, 218);
}

@font-face {
    font-family: 'Bricolage';
    src: url('./BricolageGrotesque_18pt-ExtraLight.ttf');
    font-style: normal;
    font-weight: 600;
}


#head {
    width: 30%;
    border-radius: 50%;
    background-color: #fff;
    padding: 14px;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 231, 218);
    padding-bottom: 75px;
    height: 100%;
    
    
}

#menu {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card {
    display: inline-block;
    text-align: center;
    background-color: beige;
    padding: 40px;
    /* display: flex; */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2dd4bf;
    padding: 10px;
    
}

main {
    font-family: 'Bricolage';
    /* margin-bottom: 80px; */
}

button {
    margin-right: 30px;
    padding: 6px 25px 6px 25px;
    border: none; 
    border-radius: 3px;
    font-family: 'Bricolage';
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #2dd4bf;
    color: #fff;
    
}