html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#head {
    width: 30%;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-right: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}